body {
    background-image: url("/images/gradient_bg.jpg");
			background-size: 100%;
			background-position: center,								center,														top center;
			background-repeat: repeat,								no-repeat,													no-repeat;
			background-attachment: scroll,								scroll,														scroll;
			z-index: -1;
}

h1, h3, h6, p, label, .footer {
    color: white;
}

.jumbotron {
    background-color: transparent;
}

input, select{
    opacity: 75%;
}

.well {
    border: none;
    opacity: 80%;
    background-color: black;
}