/* body {
    background-image: url("/images/gradient02_bg.jpg");
            background-size: 100%;
			background-position: center,								center,														top center;
			background-repeat: repeat,								no-repeat,													no-repeat;
			background-attachment: scroll,								scroll,														scroll;
			z-index: -1;
} */

h1, h3, h6, p, label, .footer {
    color: white;
    font-family: "quicksand";
}

.label {
    font-size: 14px;
}

.title {
    font-family: "quicksand";
    font-weight: lighter;
}

.jumbotron {
    background-color: transparent;
}

input, select{
    opacity: 75%;
}

.well {
    border: none;
    opacity: 80%;
    background-color: black;
}


/* Animate background */
.container { 
    min-height: 100%;
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    /* padding-bottom: 100%; */
    position: absolute;
  background: linear-gradient(124deg, #1ddde8, #2b1de8, #dd00f3, #dd00f3) repeat-x center bottom fixed;
  background-size: 500% 500%;
  
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }